<% content_for :title, "Editing article" %>


<%= render "form", admin_article: @admin_article %>

<br>

<div>
  <%= link_to "Show this article", @admin_article %> |
  <%= link_to "Back to articles", admin_path %>
</div>
